.NavigationItem-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavigationItem-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.NavigationItem-link {
  text-decoration: none;
  color: black;
  padding: 25px 20px;
}

.NavigationItem-linkActive {
  color: green;
}
